<!--
  Media Coverage
-->
<div class="panel panel-default" ng-controller="CollapseCtrl">
  <div class="panel-heading" ng-click="isCollapsed = !isCollapsed">
    <h3 class="panel-title">Media Coverage <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isCollapsed, 'glyphicon-chevron-right': !isCollapsed}"></i></h3>
  </div>
  <div class="panel-body" uib-collapse="isCollapsed">

    <h4>Videos</h4>
    <div class="media">
      <iframe src="https://www.youtube.com/embed/lvcj4IDwTdY?rel=0" frameborder="0" gesture="media" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/MIsfaV-6Qbc?rel=0" frameborder="0" gesture="media" allowfullscreen></iframe>
    </div>

  </div><!-- /.panel-body-->
</div><!-- /.panel-->

<!--
  Final Stages
-->
<div class="panel panel-default" ng-controller="CollapseCtrl">
  <div class="panel-heading" ng-click="isCollapsed = !isCollapsed">
    <h3 class="panel-title">Final Stages <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isCollapsed, 'glyphicon-chevron-right': !isCollapsed}"></i></h3>
  </div>
    <div class="panel-body" uib-collapse="isCollapsed">

    <h4>Winner</h4>
    <p>Graham White</p>

    <h4>Final</h4>
    <p>Richard Parker 1-2 Graham White</p>

    <h4>Semi Finals</h4>
    <p>Semi Final 1: Richard Parker 2-0 Max Parker</p>
    <p>Semi Final 2: Graham White 2-0 Bob Dickson</p>
  </div><!-- /.panel-body-->
</div><!-- /.panel-->

<!--
  Group Stages
-->
<div class="panel panel-default" ng-controller="CollapseCtrl">
  <div class="panel-heading" ng-click="isCollapsed = !isCollapsed">
    <h3 class="panel-title">Group Stages <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isCollapsed, 'glyphicon-chevron-right': !isCollapsed}"></i></h3>
  </div>
  <div class="panel-body" uib-collapse="isCollapsed">

  <h4>Group A</h4>
  <table class="group-table table table-striped table-bordered table-hover table-condensed">
  <thead>
    <tr><th>Player</th><th>Matches Played</th><th>Matches Won</th><th>Frames Won</th><th>Highest Break</th></tr>
  </thead>
  <tbody>
    <tr><td>Richard Parker</td><td>4</td><td>3</td><td>8</td><td>22</td></tr>
    <tr><td>Bob Dickson</td><td>4</td><td>3</td><td>8</td><td>22</td></tr>
    <tr><td>James Wright</td><td>3</td><td>1</td><td>3</td><td>18</td></tr>
    <tr><td>Donald Parker</td><td>3</td><td>1</td><td>3</td><td>9</td></tr>
    <tr><td>Wayne Rogers (The Punisher)</td><td>2</td><td>0</td><td>2</td><td>15</td></tr>
  </tbody>
  </table>

  <h4>Group B</h4>
  <table class="group-table table table-striped table-bordered table-hover table-condensed">
  <thead>
    <tr><th>Player</th><th>Matches Played</th><th>Matches Won</th><th>Frames Won</th><th>Highest Break</th></tr>
  </thead>
  <tbody>
    <tr><td>Graham White (The Grinder)</td><td>4</td><td>4</td><td>11</td><td>18</td></tr>
    <tr><td>Max Parker</td><td>4</td><td>2</td><td>5</td><td>16</td></tr>
    <tr><td>Richard Anderson</td><td>4</td><td>2</td><td>5</td><td>16</td></tr>
    <tr><td>Richard Brooks</td><td>4</td><td>1</td><td>5</td><td>18</td></tr>
    <tr><td>Nigel Kaye</td><td>4</td><td>1</td><td>4</td><td>13</td></tr>
  </tbody>
  </table>

  </div><!-- /.panel-body-->
</div><!-- /.panel-->
