    <!--
      Media Coverage
    -->
    <div class="panel panel-default" ng-controller="CollapseCtrl">
      <div class="panel-heading" ng-click="isCollapsed = !isCollapsed">
        <h3 class="panel-title">Media Coverage <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isCollapsed, 'glyphicon-chevron-right': !isCollapsed}"></i></h3>
      </div>
      <div class="panel-body" uib-collapse="isCollapsed">

        <h4>Live Videos</h4>
        <p>For the first time this year there was live broadcasting from some of the matches via the service offered by <a href="https://www.periscope.tv/">Periscope</a>.</p>
        <p>Replays of the live broadcasts are available from the <a href="https://www.periscope.tv/parkersnooker/1BdGYPLqODlKX">Parker Snooker Periscope</a> site.</p>

        <h4>Videos</h4>
        <div class="media">
          <iframe src="https://www.youtube.com/embed/G6X7Rsh1sPA?rel=0" frameborder="0" allowfullscreen></iframe>
          <iframe src="https://www.youtube.com/embed/B1W1-l1lKF8?rel=0" frameborder="0" allowfullscreen></iframe>
          <iframe src="https://www.youtube.com/embed/n7VQBkWl3sI?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>

        <h4>Pictures</h4>
        <div class="media">
          <a data-flickr-embed="true"  href="https://www.flickr.com/photos/graham_alton/32600055274/in/dateposted/" title="Plate Finalists and Ref"><img src="https://c1.staticflickr.com/4/3716/32600055274_b1319af4a4_m.jpg" width="180" height="240" alt="Plate Finalists and Ref"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
          <a data-flickr-embed="true"  href="https://www.flickr.com/photos/graham_alton/32600055424/in/photostream/" title="Plate Finalists"><img src="https://c1.staticflickr.com/1/580/32600055424_708bbb7a1c_m.jpg" width="180" height="240" alt="Plate Finalists"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
          <a data-flickr-embed="true"  href="https://www.flickr.com/photos/graham_alton/32600055664/in/photostream/" title="2017 Finalists and Ref"><img src="https://c1.staticflickr.com/4/3838/32600055664_d02eb5d23e_m.jpg" width="320" height="240" alt="2017 Finalists and Ref"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
          <a data-flickr-embed="true"  href="https://www.flickr.com/photos/graham_alton/33314881821/in/photostream/" title="2017 Finalists and Ref"><img src="https://c1.staticflickr.com/3/2936/33314881821_ae0d8120c8_n.jpg" width="320" height="240" alt="2017 Finalists and Ref"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
          <a data-flickr-embed="true"  href="https://www.flickr.com/photos/graham_alton/33314882071/in/photostream/" title="The Stage is Set"><img src="https://c1.staticflickr.com/4/3867/33314882071_6ecebcdddf_m.jpg" width="180" height="240" alt="The Stage is Set"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
        </div>

      </div><!-- /.panel-body-->
    </div><!-- /.panel-->

    <!--
      Final Stages
    -->
    <div class="panel panel-default" ng-controller="CollapseCtrl">
      <div class="panel-heading" ng-click="isCollapsed = !isCollapsed">
        <h3 class="panel-title">Final Stages <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isCollapsed, 'glyphicon-chevron-right': !isCollapsed}"></i></h3>
      </div>
      <div class="panel-body" uib-collapse="isCollapsed">

      <h4>Winner</h4>
      <p>Graham White</p>

      <h4>Final</h4>
      <p>Richard Parker 1-2 Graham White</p>

      <h4>Semi Finals</h4>
      <p>Semi Final 1: Richard Parker 2-0 Bob Dickson</p>
      <p>Semi Final 2: Graham White 2-1 Wayne Rogers</p>

      <h4>The Plate</h4>
      <p>Steve Jenkins 0-2 James Wright</p>

      </div><!-- /.panel-body-->
    </div><!-- /.panel-->
