    <!--
      Media Coverage
    -->
    <div class="panel panel-default" ng-controller="CollapseCtrl">
      <div class="panel-heading" ng-click="isCollapsed = !isCollapsed">
        <h3 class="panel-title">Media Coverage <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isCollapsed, 'glyphicon-chevron-right': !isCollapsed}"></i></h3>
      </div>
      <div class="panel-body" uib-collapse="isCollapsed">

        <h4>Videos</h4>
        <div class="media">
          <iframe src="https://www.youtube.com/embed/iZX20PdvO8U?rel=0" frameborder="0" gesture="media" allowfullscreen></iframe>
          <iframe src="https://www.youtube.com/embed/yqn0rSxMZWk?rel=0" frameborder="0" gesture="media" allowfullscreen></iframe>
          <iframe src="https://www.youtube.com/embed/PE2PlzM1yW4?rel=0" frameborder="0" gesture="media" allowfullscreen></iframe>
          <iframe src="https://www.youtube.com/embed/G7bIIgJOGhE?rel=0" frameborder="0" gesture="media" allowfullscreen></iframe>
          <iframe src="https://www.youtube.com/embed/Mw2GXQAVo90?rel=0" frameborder="0" gesture="media" allowfullscreen></iframe>
        </div>

        <h4>Pictures</h4>
        <div class="media">
          <a data-flickr-embed="true"  href="https://www.flickr.com/photos/graham_alton/48487758441/in/album-72157710177505372/" title="Richard Anderson in Action"><img src="https://live.staticflickr.com/65535/48487758441_0078467088_n.jpg" width="425" height="240" alt="Richard Anderson in Action"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
          <a data-flickr-embed="true"  href="https://www.flickr.com/photos/graham_alton/48487758376/in/album-72157710177505372/" title="Table is Ready for the Finals"><img src="https://live.staticflickr.com/65535/48487758376_d12acf26f4_n.jpg" width="180" height="240" alt="Table is Ready for the Finals"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
          <a data-flickr-embed="true"  href="https://www.flickr.com/photos/graham_alton/48487758021/in/album-72157710177505372/" title="Plate Finalists"><img src="https://live.staticflickr.com/65535/48487758021_03a214b856_n.jpg" width="425" height="240" alt="Plate Finalists"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
          <a data-flickr-embed="true"  href="https://www.flickr.com/photos/graham_alton/48487919867/in/album-72157710177505372/" title="Father and Son-in-Law Shake Hands"><img src="https://live.staticflickr.com/65535/48487919867_ed948e339f_n.jpg" width="425" height="240" alt="Father and Son-in-Law Shake Hands"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
          <a data-flickr-embed="true"  href="https://www.flickr.com/photos/graham_alton/48487919817/in/album-72157710177505372/" title="Richard Brooks in Action"><img src="https://live.staticflickr.com/65535/48487919817_ab2e413796_n.jpg" width="135" height="240" alt="Richard Brooks in Action"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
          <a data-flickr-embed="true"  href="https://www.flickr.com/photos/graham_alton/48487919917/in/album-72157710177505372/" title="Richard Brooks Receives the Plate"><img src="https://live.staticflickr.com/65535/48487919917_005a69536b_n.jpg" width="425" height="240" alt="Richard Brooks Receives the Plate"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
          <a data-flickr-embed="true"  href="https://www.flickr.com/photos/graham_alton/48487920082/in/album-72157710177505372/" title="The Finalists"><img src="https://live.staticflickr.com/65535/48487920082_c693e21b2a_n.jpg" width="425" height="240" alt="The Finalists"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
          <a data-flickr-embed="true"  href="https://www.flickr.com/photos/graham_alton/48487919947/in/album-72157710177505372/" title="Finalists are Ready"><img src="https://live.staticflickr.com/65535/48487919947_c35522d69b_n.jpg" width="425" height="240" alt="Finalists are Ready"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
          <a data-flickr-embed="true"  href="https://www.flickr.com/photos/graham_alton/48487919972/in/album-72157710177505372/" title="Finalists are Ready"><img src="https://live.staticflickr.com/65535/48487919972_7cbd86cb4e_n.jpg" width="425" height="240" alt="Finalists are Ready"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
          <a data-flickr-embed="true"  href="https://www.flickr.com/photos/graham_alton/48487758216/in/album-72157710177505372/" title="Finalists Shake Hands"><img src="https://live.staticflickr.com/65535/48487758216_9a60242ffc_n.jpg" width="425" height="240" alt="Finalists Shake Hands"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
          <a data-flickr-embed="true"  href="https://www.flickr.com/photos/graham_alton/48487920022/in/album-72157710177505372/" title="Graham Receives the Trophy"><img src="https://live.staticflickr.com/65535/48487920022_3ff79eeab3_n.jpg" width="425" height="240" alt="Graham Receives the Trophy"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
        </div>

      </div><!-- /.panel-body-->
    </div><!-- /.panel-->

    <!--
      Final Stages
    -->
    <div class="panel panel-default" ng-controller="CollapseCtrl">
      <div class="panel-heading" ng-click="isCollapsed = !isCollapsed">
        <h3 class="panel-title">Final Stages <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isCollapsed, 'glyphicon-chevron-right': !isCollapsed}"></i></h3>
      </div>
      <div class="panel-body" uib-collapse="isCollapsed">

      <h4>Winner</h4>
      <p>Graham White</p>

      <h4>Final</h4>
      <p>Graham White 2-0 Richard Parker</p>

      <h4>Semi Finals</h4>
      <p>Semi Final 1: Graham White 2-0 Wayne Rogers</p>
      <p>Semi Final 2: Richard Parker 2-0 Colin Matthews</p>

      <h4>The Plate</h4>
      <p>Richard Brooks 2-0 Steve Jenkins</p>

      </div><!-- /.panel-body-->
    </div><!-- /.panel-->
