    <!--
      Media Coverage
    -->
    <div class="panel panel-default" ng-controller="CollapseCtrl">
      <div class="panel-heading" ng-click="isCollapsed = !isCollapsed">
        <h3 class="panel-title">Media Coverage <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isCollapsed, 'glyphicon-chevron-right': !isCollapsed}"></i></h3>
      </div>
      <div class="panel-body" uib-collapse="isCollapsed">

        <h4>Videos</h4>
        <div class="media">
          <iframe src="https://www.youtube.com/embed/iZX20PdvO8U?rel=0" frameborder="0" gesture="media" allowfullscreen></iframe>
        </div>

      </div><!-- /.panel-body-->
    </div><!-- /.panel-->

    <!--
      Final Stages
    -->
    <div class="panel panel-default" ng-controller="CollapseCtrl">
      <div class="panel-heading" ng-click="isCollapsed = !isCollapsed">
        <h3 class="panel-title">Final Stages <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isCollapsed, 'glyphicon-chevron-right': !isCollapsed}"></i></h3>
      </div>
      <div class="panel-body" uib-collapse="isCollapsed">

      <h4>Winner</h4>
      <p>???</p>

      <h4>Final</h4>
      <p>Semi Final 1 Winner vs Semi Final 2 Winner</p>

      <h4>Semi Finals</h4>
      <p>Semi Final 1: Graham White vs Wayne Rogers</p>
      <p>Semi Final 2: Richard Parker vs Colin Matthews</p>

      <h4>The Plate</h4>
      <p>Richard Brooks vs Steve Jenkins</p>

      </div><!-- /.panel-body-->
    </div><!-- /.panel-->
