<!--
  Media Coverage
-->
<div class="panel panel-default" ng-controller="CollapseCtrl">
  <div class="panel-heading" ng-click="isCollapsed = !isCollapsed">
    <h3 class="panel-title">Media Coverage <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isCollapsed, 'glyphicon-chevron-right': !isCollapsed}"></i></h3>
  </div>
  <div class="panel-body" uib-collapse="isCollapsed">

    <h4>Videos</h4>
    <div class="media">
      <iframe src="https://www.youtube.com/embed/f76IguHHAVo?rel=0" frameborder="0" gesture="media" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/Ndyk2ZVAVoo?rel=0" frameborder="0" gesture="media" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/5X7Z2pk9NSQ?rel=0" frameborder="0" gesture="media" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/5ibVgCPhmWY?rel=0" frameborder="0" gesture="media" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/qsbmtUiWFpM?rel=0" frameborder="0" gesture="media" allowfullscreen></iframe>
    </div>

    <h4>Pictures</h4>
    <div class="media">
      <a data-flickr-embed="true" href="https://www.flickr.com/photos/graham_alton/49608252786/in/album-72157713328577662/" title="Richard at the Bar"><img src="https://live.staticflickr.com/65535/49608252786_9906b33057_n.jpg" width="320" height="240" alt="Richard at the Bar"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
      <a data-flickr-embed="true" href="https://www.flickr.com/photos/graham_alton/49607736953/in/album-72157713328577662/" title="The Commentary Team"><img src="https://live.staticflickr.com/65535/49607736953_0ca26461d2_n.jpg" width="320" height="240" alt="The Commentary Team"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
      <a data-flickr-embed="true" href="https://www.flickr.com/photos/graham_alton/49608252791/in/album-72157713328577662/" title="Richard Brooks and Steve"><img src="https://live.staticflickr.com/65535/49608252791_cfdbc5c17c_n.jpg" width="320" height="240" alt="Richard Brooks and Steve"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
      <a data-flickr-embed="true" href="https://www.flickr.com/photos/graham_alton/49607737068/in/album-72157713328577662/" title="Richard Down on the Shot"><img src="https://live.staticflickr.com/65535/49607737068_fed7c8a01e_n.jpg" width="320" height="240" alt="Richard Down on the Shot"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
      <a data-flickr-embed="true" href="https://www.flickr.com/photos/graham_alton/49607737073/in/album-72157713328577662/" title="Richard Down on the Shot"><img src="https://live.staticflickr.com/65535/49607737073_08585101c9_n.jpg" width="320" height="240" alt="Richard Down on the Shot"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
      <a data-flickr-embed="true" href="https://www.flickr.com/photos/graham_alton/49608502092/in/album-72157713328577662/" title="Enthralled Audience"><img src="https://live.staticflickr.com/65535/49608502092_6cb286b6fd_n.jpg" width="320" height="240" alt="Enthralled Audience"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
      <a data-flickr-embed="true" href="https://www.flickr.com/photos/graham_alton/49608252976/in/album-72157713328577662/" title="James Down on the Shot"><img src="https://live.staticflickr.com/65535/49608252976_342eb78ca9_n.jpg" width="320" height="240" alt="James Down on the Shot"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
      <a data-flickr-embed="true" href="https://www.flickr.com/photos/graham_alton/49608502217/in/album-72157713328577662/" title="Tricky Situation"><img src="https://live.staticflickr.com/65535/49608502217_9dee185c92_n.jpg" width="320" height="240" alt="Tricky Situation"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
      <a data-flickr-embed="true" href="https://www.flickr.com/photos/graham_alton/49607737163/in/album-72157713328577662/" title="Players Eye View"><img src="https://live.staticflickr.com/65535/49607737163_29d19b31f6_n.jpg" width="320" height="240" alt="Players Eye View"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
      <a data-flickr-embed="true" href="https://www.flickr.com/photos/graham_alton/49608253081/in/album-72157713328577662/" title="James Down on the Shot"><img src="https://live.staticflickr.com/65535/49608253081_072912b053_n.jpg" width="320" height="240" alt="James Down on the Shot"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
      <a data-flickr-embed="true" href="https://www.flickr.com/photos/graham_alton/49607737228/in/album-72157713328577662/" title="James Shot Selection"><img src="https://live.staticflickr.com/65535/49607737228_51d39541be_n.jpg" width="320" height="240" alt="James Shot Selection"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
      <a data-flickr-embed="true" href="https://www.flickr.com/photos/graham_alton/49608420996/in/album-72157713328577662/" title="The Table is Ready"><img src="https://live.staticflickr.com/65535/49608420996_6f686fae90_n.jpg" width="320" height="240" alt="The Table is Ready"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
    </div>

  </div><!-- /.panel-body-->
</div><!-- /.panel-->

<!--
  Final Stages
-->
<div class="panel panel-default" ng-controller="CollapseCtrl">
  <div class="panel-heading" ng-click="isCollapsed = !isCollapsed">
    <h3 class="panel-title">Final Stages <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isCollapsed, 'glyphicon-chevron-right': !isCollapsed}"></i></h3>
  </div>
  <div class="panel-body" uib-collapse="isCollapsed">

    <h4>Details</h4>
    <p>
      Finals day is <b>Sunday 1st March</b> with the plate final <b>starting at
      2:30pm</b>.  The main final will follow the conclusion of the plate final.
      <b>Dress code</b> for all finalists is waistecoat and tie.  A chilli will be
      provided (both veggi and meat options) followed by a cheese platter but
      please <b>bring your own drinks</b>.
    </p>

    <h4>Winner</h4>
    <p>Richard Parker</p>

    <h4>Final</h4>
    <p>Richard Parker 2-0 James Wright</p>

    <h4>Semi Finals</h4>
    <p>Semi Final 1: Graham White 0-2 Richard Parker</p>
    <p>Semi Final 2: Wayne Rogers 1-2 James Wright</p>

    <h4>The Plate</h4>
    <p>Bob Dickson and Wayne Rogers 0-2 Nigel Kaye and Graham White</p>

  </div><!-- /.panel-body-->
</div><!-- /.panel-->
