    <!--
      Group Stages
    -->
    <div class="panel panel-default" ng-controller="CollapseCtrl">
      <div class="panel-heading" ng-click="isCollapsed = !isCollapsed">
        <h3 class="panel-title">Group Stages <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isCollapsed, 'glyphicon-chevron-right': !isCollapsed}"></i></h3>
      </div>
      <div class="panel-body" uib-collapse="isCollapsed" ng-controller="leagueTablesCtrl">

        <div ng-repeat="group in groups">
          <h4>Group {{group}}</h4>
          <div class="table-responsive">
          <table class="group-table table table-striped table-bordered table-hover table-condensed">
          <thead>
            <tr><th rowspan="2">Player</th><th colspan="3">Matches</th><th colspan="2">Frames</th><th rowspan="2">High<br />Break</th></tr>
            <tr><th>Pld</th><th>Won</th><th>Lost</th><th>Won</th><th>Lost</th></tr>
          </thead>
          <tbody>
            <tr ng-repeat="player in leagueTables" ng-if="player.group == group"><td>{{player.name}}</td><td>{{player.matchesPlayed}}</td><td>{{player.matchesWon}}</td><td>{{player.matchesLost}}</td><td>{{player.framesWon}}</td><td>{{player.framesLost}}</td><td>{{player.highBreak}}</td></tr>
          </tbody>
          </table>
        </div>
        </div>

        <p><small>Group stages are ordered by: matches won > frames won > highest break > head to head result</small></p>

      </div><!-- /.panel-body-->
    </div><!-- /.panel-->

    <!--
      Fixtures and Results
    -->
    <div class="panel panel-default" ng-controller="CollapseCtrl">
      <div class="panel-heading" ng-click="isCollapsed = !isCollapsed">
        <h3 class="panel-title">Fixtures and Results <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isCollapsed, 'glyphicon-chevron-right': !isCollapsed}"></i></h3>
      </div>
      <div class="panel-body" uib-collapse="isCollapsed">
        <table class="results-table table table-striped table-hover table-nonfluid" ng-controller="fixturesResultsCtrl">
        <tbody>
          <tr ng-repeat="row in csvData" ng-if="$index > 0"><td>{{row[1]}} {{row[2]}}</td><td>{{row[3]}}</td><td style="white-space:nowrap">{{row[4]}}</td><td>{{row[6]}}</td></tr>
        </tbody>
        </table>
      </div><!-- /.panel-body-->
    </div><!-- /.panel-->
